<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@kkhaiya" />

{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
{% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
{% endif %}

{% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}" />
{% else if site.description %}
  <meta name="twitter:description" content="{{ site.description }}" />
{% else %}
  <meta name="twitter:description" content="ぼくたちはGithubを、すっくと立つことを拒む複数的な語り手の（！）バージョン管理のためにぜひとも用いてみようと思った。" />
{% endif %}

{% if page.image %}
  <meta name="twitter:image" content="{{ page.image }}" />
{% else if site.description %}
  <meta name="twitter:image" content="{{ site.image }}" />
{% else %}
  <meta name="twitter:image" content="https://we-are-tentatively.github.io/in-correspondence/assets/images/in-correspondence.jpg" />

{% endif %}
